doctype 5
html
  head
    title= title
    != css('style', 'test')
  body
    nav.top-bar
      ul.title-area
        li.name
          h1
            a TF2 Pug
      section.top-bar-section
        ul.right
          - if (user)
            li
              a #{user.steamid}
            li.divider
            li
              a(href='/logout') Logout
          - else
            li
              a(href='/auth/steam/') Login
    block content
